.top-bar {
  background: none repeat scroll 0 0 purple;
  z-index: 2;
  position: absolute;
  min-width: 100%;
}

li.menu-text {
  background: purple;
  color: yellow;
}

.top-bar a {
  background: purple;
  color: yellow;
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: 2;
}
